.title {
    font-family: 'Fuzzy Bubbles';
    margin: 50px auto;
    text-align: center;
}

.title h1 {
    font-size: 75px;
}

.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

ul{
    width: 90%;
}

.flex-child{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 5rem;
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, 0.342);
    margin: 10px 10px;
}

.drawing {
    width: 300px;
    height: 275px;
    object-fit: cover;
}

.drawing:hover{
    box-shadow: 5px 5px 12px 1px rgba(255, 92, 92, 0.5);
}
