nav
{
    padding-left: 10px;
    background-color: rgba(46, 178, 240, .5);
}

.home
{
    cursor: pointer;
}

a.navbar-brand{
    font-family: 'Fuzzy Bubbles';
    color: aliceblue;
    stroke: black;
    stroke-width: 10em;
}

.user-greeting
{
    padding: 7px 0;
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 6px;
    background-color: rgb(55, 206, 41);
    border-radius: 50%;
    display: inline-block
}