.main-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.draw {
    font-family: 'Fuzzy Bubbles';
    color: aliceblue;
    -webkit-text-stroke: 1px black;
    margin: 0 auto;
    text-align: center;
    background-color: #ffe44c9f;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

h1{
    font-size: 75px;
}

.canvas{
    margin: 25px auto;
}

.clear .btn {
    text-align:  center;
    background: #ff5c5c4d;
    color: black;
    position: relative;
}

.submit .btn{
    background-color: #91e02b44;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
    width: 15em;
}

.btn:hover {
    box-shadow: rgba(102, 50, 154, .4) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.response-container{
    display: flex;
    justify-content: center;
}

.ul-container{
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    display: inline-block;
    font-family: 'Fuzzy Bubbles';
    font-size: 1.5rem;
    line-height: 23px;
    outline: none;
    padding: 3rem 6rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    touch-action: manipulation;
    margin: 50px auto;
}

li {
    list-style: none;
    padding: 5px;
}

.fullclick2{
    color: black;
    text-shadow: 0 0 10px #91e02be1, 0 0 20px #91e02be1, 0 0 30px #91e02b9f, 0 0 40px #91e02b9f, 0 0 50px #91e02b9f, 0 0 60px #91e02b9f;
}

