<div class ="container">
    <div class ="row justify-content-center">
        <div class="col-md-auto">
            <div *ngIf="pageLoaded; else pageNotLoaded">
            <div class="draw">Draw {{keywordSelected}}</div> 
            </div>
            <ng-template #pageNotLoaded>
                <div>
                    <h1> </h1>
                </div>
            </ng-template>
            <app-canvas id = "canvas"></app-canvas>
            <div class="row justify-content-center">
                <div class="col-md-1 fullclick" (click)="clearCanvas()">
                    <li>
                        <h2>Clear</h2>
                    </li>
                    <!-- <form>
                        <button id="clearCanvas" type="button" class="btn btn-outline-secondary" 
                        (click)="clearCanvas()">Clear</button>
                    </form> -->
                </div>
                    <div class="col-md-1 fullclick2" (click)="uploadImageToS3AndDatabase()">
                        <li>
                            <h2>Submit</h2>
                        </li>
                        <!-- <form>
                        <button id="submit" type="button" class="btn btn-success" 
                        (click)="uploadImageToS3AndDatabase()">Submit</button>
                        </form> -->
                    </div>
                </div>           
        </div>
        <div class="col-md-3">
            <div *ngIf="isLoaded; else notLoaded">
                <div class="" *ngFor="let response of googleResponse">
                    <div *ngIf="wallPost.Keyword.toLowerCase() != response.description.toLowerCase(); else notSelectedKeyword">
                        <div class ="fullclick">
                            <li>
                                {{response.description}} | 
                                {{response.score}}%
                            </li>
                        </div>
                    </div>
                    <ng-template #notSelectedKeyword>
                        <div class ="fullclick2">
                            <li>
                                {{response.description}} | 
                                {{response.score}}%
                            </li>
                        </div>
                    </ng-template>
                </div>
            </div>
            <ng-template #notLoaded>
                <div>
                </div>
            </ng-template>
        </div>
    </div>
