<div class="title">
    <h1 class="head-main">Droogle</h1>
    <h2>challenge Google Vision to a game of pictionary!</h2>
    <p class="title-para">Choose a subject to draw, and we will submit it to the Google Vision API and see how smart the machines really are. Your score will be upon wether or not google can guess correctly. Compare your drawings and scores with our Droogle community!</p>
    <div class="child-container">
        <button class="btn-1" (click)="logIn()">
            Sign In
        </button>
        <button class="btn-2" (click)="logIn()">
                Sign Up
        </button>
    </div>
</div>
