<head>
    <link rel="stylesheet" href="category-list.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <h1 class="animation">Categories</h1>
        <ul class="list-group">
            <li class="col-md-15" style="list-style: none;">
                <div class="card-group">
                    <div class="card" *ngFor="let category of allCategories">
                        <div class="card-body">
                            <h2 class="card-header">{{category.CategoryName}}</h2>
                        </div>
                        <div class="card-text" *ngFor = "let wallpost of category.WallPosts">
                            <h5>{{wallpost.Keyword}}</h5>
                                <a (click)="goToCanvas(wallpost.ID)"><button class="btn draw">Draw!</button></a>
                                <a (click)="goToWallPostPage(wallpost.Keyword)">
                                    <button class="btn draw">View!</button>
                                </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div> 
</body>