<div class="container">
    <div *ngIf="isWallPostPage; else notWallPostPage">
        <div class ="draw">
            {{keyword}} Page
        </div>
    </div>
        <ng-template #notWallPostPage>
        </ng-template>
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;" *ngFor="let drawing of allDrawings">
            <img class="card-img-top" src="{{drawing.BucketImage}}"alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{drawing.Keyword}}</h5>
                <p class="card-text">Player: {{drawing.PlayerName}}<br>Google Response: {{drawing.GoogleResponse}}<br>Score: {{drawing.GoogleScore}} </p>
                    <div class="row justify-content-center">
                        <div class="col sm 1">
                            <button class="like-button" (click)="LikeDrawing(drawing)"[ngClass]="drawing.IsLiked ? 'liked' : ''"></button>
                        </div>
                        <div class="col sm 1">
                            <a (click)="goToDrawingPage(drawing.ID)" class="btn btn-primary">Comments</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
